<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <body style="background-color: wheat;">

<div class="con d-flex container-fluid justify-content-around row pt-5" >
    <form class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 shadow mt-5" method="post" enctype="multipart/form-data">
        <div style="text-align: center;">
            <label for="budgetCode">Upload Excel Sheet (.xlsx)</label>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="file" name="filetoupload" placeholder="Enter Budget Code" value="">
        </div>
        
        <div style="text-align: center;">
            <input style="width: 50%;border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="submit" placeholder = "Upload">
        </div>
        
    </form>
</div>
<%- include('./includes/end.ejs') %>