<%- include('./includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" type="text/css" href="css/table.css">
<link rel="stylesheet" type="text/css" href="css/greenhouseLanding.css">
<link rel="stylesheet" type="text/css" href="css/generated_requests.css">
<link rel="stylesheet" type="text/css" href="css/table_card.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body style="background-color: rgba(255,164,0, 0.04999999701976776);">
  <%- include('./includes/nav.ejs') %>

    <div class = " shadow p-3 mb-4 bg-white">
        <div class="d-flex justify-content-around btns">
            <h2 style="font-size: 1.6rem;border-radius: 30px;" class="btn " >
                Job Openings :-<b id="total_jobs"></b>
            </h2>
        </div>
        <div class="d-flex justify-content-around btns">
            <p class="btn " >
                Closed :- <b id="closed"></b>
            </p>
            <p class="btn " >
                Opened :- <b id="open"></b>
            </p>
        </div>
    </div>


    <div class = " shadow p-3 mb-4 bg-white">
        <div class="d-flex justify-content-around btns mb-3" >
            <h2 id=style="font-size: 1.6rem;border-radius: 30px;" class="btn " >
                Total Applications :-<b id="totalApp"></b>
            </h2>
        </div>
        <div class="d-flex justify-content-around btns">
            <p class="btn " >
                Active :- <b id="active"></b>
            </p>
            <p class="btn " >
                Rejected :- <b id="rejected"></b>
            </p>
            <p class="btn " >
                Hired :- <b id="hired"></b>
            </p>
        </div>
    </div>

  <div class="d-flex row justify-content-center" style="text-align: center;margin-top: 100px;">
    <div class="col-3 m-3">
      <div class="card table_card">
        <div class="card-body">
          <h5 class="card-title">Tabular Analysis</h5>
          <a href="http://localhost:5000/greenhouseTable" class="btn">View</a>
        </div>
      </div>
    </div>
    <br/>
    <div class="col-3 m-3">
        <div class="card table_card">
          <div class="card-body">
            <h5 class="card-title">Graphical Analysis</h5>
            <a href="http://localhost:5000/visualize" class="btn">View</a>
          </div>
        </div>
    </div>
    <br/>
  </div>
  <script>
      $.getJSON('http://localhost:3000/getLandingData', function(data) {
        document.getElementById('totalApp').innerHTML = data.total_applications;
        document.getElementById('hired').innerHTML = data.hired;
        document.getElementById('active').innerHTML = data.active;
        document.getElementById('rejected').innerHTML = data.rejected;
        document.getElementById('total_jobs').innerHTML = data.total_jobs;
        document.getElementById('closed').innerHTML = data.closed;
        document.getElementById('open').innerHTML = data.open;

    });
   
  </script>
<%- include('./includes/end.ejs') %>