<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <body style="background-color: wheat;">

<div class="con d-flex container-fluid justify-content-around row pt-5" >
    <form class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 shadow mt-5" action="/generateRequest" method="post">
        <div style="text-align: center;">
            <label for="toBeApprovedBy"><b>Approver Email</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="toBeApprovedBy" name="toBeApprovedBy" placeholder="Enter Your Approver Email" value="">
        </div>
        <div style="text-align: center;">
            <label for="exampleFormControlSelect1"><b>Select Type</b></label><br>
            <select style="width: 80%; border-radius:20px;opacity: 0.8;margin: 0 auto;" class="form-control type" id="exampleFormControlSelect1" name="type">
              <option>New</option>
              <option>Replacement</option>
            </select>
        </div>
        <div style="text-align: center;">
            <label for="reportingManager"><b>Reporting Manager Email</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="reportingManager" name="reportingManager" placeholder="Enter Reporting Manager Email" value="">
        </div>
        <!-- <div style="text-align: center;">
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2 _new" type="text" name="prior"  placeholder="Enter the priority" value="">
        </div> -->
        <div style="text-align: center;">
            <label for="exampleFormControlSelect1" class="_new"><b>Select Priority</b>(1 is highest and 5 is lowest)</label><br>
            <select style="width: 80%; border-radius:20px;opacity: 0.8;margin: 0 auto;" class="form-control type _new" id="exampleFormControlSelect1" name="prior">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>
        <div style="text-align: center;">
            <label for="team"><b>Team Name</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" id="team" type="text" name="team" placeholder="Enter the team name" value="">
        </div>
        <div style="text-align: center;">
            <label for="position"><b>Position</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="position" name="position" placeholder="Enter the position" value="">
        </div>
        <div style="text-align: center;">
            <label for="personReplacing" class="_replace"><b>Person Replacing</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2 _replace" type="text" id="personReplacing" name="personReplacing" placeholder="Name of person to be replaced" value="">
        </div>
        <div style="text-align: center;">
            <label for="budgetCode" class="_replace"><b>Budget Code</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2 _replace" type="text" id="budgetCode" name="budgetCode"  placeholder="Budget Code" value="">
        </div>
        <div style="text-align: center;">
            <label for="numPersons" class="_new"><b>Number Of Persons</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2 _new" type="number" id="numPersons" name="numPersons"  placeholder="Number of persons to be hired" value="">
        </div>
        <div style="text-align: center;">
            <label for="BusinessCase"><b>Business Case</b></label><br>
            <textarea style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="BusinessCase" name="BusinessCase" placeholder="Enter the business case" value=""></textarea>
        </div>
        
        <div style="text-align: center;">
            <label for="comment"><b>Message for Approver</b></label><br>
            <textarea style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="comment" name="comment" placeholder="Enter the message for approver" value=""></textarea>
        </div>

        <div style="text-align: center;">
            <input type="checkbox" class="form-check-input" id="urgent">
            <label class="form-check-label" for="urgent"><b>Urgent</b></label>
        </div>

        <div style="text-align: center;">
            <input style="width: 50%;border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="submit" placeholder = "Sign in">
        </div>
        
    </form>
</div>
    <script src="js/request_form.js" ></script>
    <%- include('./includes/end.ejs') %>