<%- include('./includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   

<body>
  <%- include('./includes/nav.ejs') %>
    <div class="con d-flex container-fluid justify-content-around row pt-5">
            <form class="login col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 shadow mt-5" method="POST">
                <div style="text-align: center;">
                    <h1>  Choose Department  </h1>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="ta">
                    <label class="custom-control-label" for="customRadio1">TA</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="finance">
                    <label class="custom-control-label" for="customRadio2">FINANCE</label>
                  </div>

                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="others">
                    <label class="custom-control-label" for="customRadio3">OTHERS</label>
                  </div>
                  <!-- <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio3" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">OTHERS</label>
                  </div> -->
                  <div style="text-align: center;">
                    <button style="width: 50%;border-radius:20px;opacity: 0.8;font-family: 'Viga', sans-serif;font-size: 1.5rem;" class="name border p-2 mt-2 mb-2" type="submit" placeholder = "">Submit</button>
                </div>
             </form>
        </div>
    </div>
    
<%- include('./includes/end.ejs') %>
