.generated_requests
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.generated_requests:hover
{
    color: tomato;
    transition:all 400ms;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.button-alert .alert
{
    text-decoration: none;
}

.btns .btn
{
    opacity: 83%;
}