.navbar
{
    /* font-family: 'Viga', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: 600; */
    font-size: 1.1rem;
}

.navbar div .navbar-nav .nav-item .nav-link:hover
{
    font-size: 1.2rem;
    transition: all 200ms;
    color: #e83e8c;
}

#selected
{
    font-size: 1.2rem;
    font-weight: 600;
    color: #B27300;
}